<a class="assignee-filter btn">Everyone's Issues <i class="icon-caret-down"></i></a>

<div class="right">
  {{filterLink "All" project}}
  {{filterLink "Open" project}}
  {{filterLink "Resolved" project}}
  {{filterLink "Today" project}}
  {{filterLink "Overdue" project}}
</div>
